{{- if and .IsPage (eq .Type "posts") .Params.audio }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicComposition",
  "@id": {{ printf "%s#composition" .Permalink | jsonify }},
  "mainEntityOfPage": {{ .Permalink | jsonify }},
  "name": {{ .Title | jsonify }},
  {{- with .Params.alternateTitles }}
  "alternateName": {{ . | jsonify }},
  {{- end }}
  "description": {{ .Params.description | default .Summary | jsonify }},
  "inLanguage": "fa",
  "url": {{ .Permalink | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "lyricist": { "@type": "Person", "name": {{ .Params.lyricist | default "نامشخص" | jsonify }} },
  "composer": { "@type": "Person", "name": {{ .Params.composer | default "نامشخص" | jsonify }} },
  "genre": {{ .Params.dastgah | default "" | jsonify }},
  "recordedAs": [
    {{- range $i, $r := .Params.recordings }}
    {{- if $i }},{{ end }}
    {
      "@type": "MusicRecording",
      "@id": {{ printf "%s#recording-%d" $.Permalink $i | jsonify }},
      "name": {{ $.Title | jsonify }},
      "byArtist": { "@type": "Person", "name": {{ $r.artist | jsonify }} },
      "inLanguage": "fa",
      "recordingOf": { "@id": {{ printf "%s#composition" $.Permalink | jsonify }} },
      "audio": {
        "@type": "AudioObject",
        "contentUrl": {{ $r.audio | jsonify }},
        "encodingFormat": "audio/mpeg"
      }{{ with $r.duration }},
      "duration": {{ . | jsonify }}{{ end }}
    }
    {{- end }}
  ]
}
</script>
{{- end }}

{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "inLanguage": "fa"
}
</script>
{{- end }}
